<div class="container">

    <div class="text-center">
        <img src="assets/img/logoApp.png" width="300" height="100" alt="">
        <h5 class="text-danger">Welcome, please enter your credentials</h5>
    </div>
    <form [formGroup]="formLogin">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Insert your mail" formControlName="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Insert your password" formControlName="password">
        </div>
        
        <button type="submit" [disabled]="!formLogin.valid" (click)="signIn()" class="btn btn-primary">Sign In</button>
      </form>
</div>