<div class="container">

    <div class="text-center">
        <img src="assets/img/logoApp.png" width="300" height="100" alt="">
        <h5 class="text-danger">Welcome, please enter your credentials</h5>
    </div>
    <form [formGroup]="formLogin">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Insert your mail" formControlName="email">
          <div *ngIf="formLogin.controls['email'].invalid && formLogin.controls['email'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formLogin.controls['email'].errors.required">Email is required</span>
            <span *ngIf="formLogin.controls['email'].errors.email">Email is invalid</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" (keyup.enter)="signIn()" class="form-control" id="password" placeholder="Insert your password" formControlName="password">
          <div *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formLogin.controls['password'].errors.required">Email is required</span>
          </div>
        </div>
        
        <button type="submit" [disabled]="!formLogin.valid" (click)="signIn()" class="btn btn-primary">Sign In</button>
      </form>

      <br>
      <div *ngIf="!correctData" class="alert alert-danger" role="alert">
        {{errorText}}
      </div>


      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" 
      [fullScreen]="true"><p style="color:white" > Loading... </p>
      </ngx-spinner>
</div>