
    <!-- <div *ngIf="auth.user | async as user; else showLogin"> -->
      <!-- <h1>Hello {{ user.displayName }}!</h1> -->
      <!-- <h1>Hello {{ user.email }}!</h1>
      <button (click)="logout()">Logout</button>
    </div> -->

    <div class="container" *ngIf="users && !loading; else showLogin">
      <h1>Hello {{ users.email }}!</h1>
      <button class="btn btn-warning" (click)="logout()">Logout</button>
    </div>


    <ng-template #showLogin>
      <div class="container" *ngIf="loading">
        Cargando...
      </div>
      <app-login *ngIf="!loading"></app-login>
    </ng-template>
  


<router-outlet></router-outlet>